<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tfg.angela.tfg" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SaveOutfitActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Closet"
            android:label="@string/title_activity_closet" >
        </activity>
        <activity
            android:name=".search_clothes"
            android:label="@string/title_activity_search_clothes" >
        </activity>
        <activity
            android:name=".init"
            android:label="@string/title_activity_init" >
        </activity>
    </application>

</manifest>
